@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  color: #fff;
  background-image: url(/img/background5.jpg);
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    flex-basis: 8%;
    &:hover {
      background-color: rgba($color: black, $alpha: 0.2);
    }
    nav {
      margin-left: 4rem;
      li {
        padding: 1rem;
        cursor: pointer;
        &:hover {
          color: #cf0a2c;
        }
      }
    }

    .active {
      color: #cf0a2c;
    }

    .img {
      padding: 1rem;
      margin-right: 2rem;
      background-image: url(/img/cart.png);
      background-size: cover;
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid #cf0a2c;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 92%;
    text-align: center;
    align-items: center;

    h1 {
      font-size: 80px;
      font-weight: 700;
      border-bottom: 1px solid white;
      margin-top: 50px;
    }
    h3 {
      font-size: 50px;
      font-weight: 200;
    }
    button {
      border: 1px solid white;
      padding: 7px;
      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
      }
    }
  }
}

.menuPage {
  color: red;
  // background-image: url(/Img/background5.jpg);
  // background-size: cover;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    flex-basis: 8%;
    &:hover {
      background-color: rgba($color: black, $alpha: 0.2);
    }
    nav {
      margin-left: 4rem;
      li {
        padding: 1rem;
        cursor: pointer;
        &:hover {
          color: #cf0a2c;
        }
      }
    }

    .active {
      color: #cf0a2c;
    }

    .img {
      padding: 1rem;
      margin-right: 2rem;
      background-image: url(/img/cart.png);
      background-size: cover;
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid #cf0a2c;
      }
    }
  }

  .content {
    .promotions {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      .slider {
        width: 50vw;
        height: 30vh;
        border: 1px solid black;
      }
    }
  }
  .cartItems {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(3, 1fr);

    .cart {
      margin: 3%;
      position: relative;

      .description {
        position: absolute;
        visibility: visible;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover {
          // visibility: hidden;
          background-color: rgba($color: black, $alpha: 0.1);
        }
      }
    }
  }
}
